<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'student')}">

<body>

	<h2>Student</h2>
	
	<form th:object="${student}" class="form-horizontal" id="add-owner-form" method="post">
		<div class="mb-3">
			<input th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
			<input th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
			<input th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}" />
			<input th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}" />
			<input th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}" />
		</div>
		<div class="mb-3">
			<button class="btn btn-primary" type="submit" 
				th:with="text=${student['new']} ? 'Add Student' : 'Update Student'"
				th:text="${text}" 
			>
				Add Student
			</button>
		</div>
	</form>
	
</body>
</html>
