<html xmlns:th="https://www.thymeleaf.org" 
	th:replace="~{fragments/layout :: layout (~{::body},'student')}"
>

<body>
	<h2>
		<th:block th:if="${subject['new']}">New</th:block> Subject 
	</h2>
	
	<h4>&nbsp;</h4>
	
	<form th:object="${subject}" class="form-horizontal" method="post">
		<input type="hidden" name="id" th:value="*{id}" />
		
		<div class="form-group">
			<label >Student : </label>
			<span th:text="${subject.student?.firstName + ' ' + subject.student?.lastName}"></span>
			
			<br/>
			<br/>
			
			<input th:replace="~{fragments/inputField :: input ('Subject Name', 'name', 'text')}" />
			<input th:replace="~{fragments/inputField :: input ('Subject Date', 'subjectDate', 'date')}" />
			<input th:replace="~{fragments/selectField :: select ('Type', 'subjectType', ${subjectTypes})}" />
		</div>
		
		<br/>
		
		<button class="btn btn-primary" type="submit" 
			th:with="text=${subject['new']} ? 'Add Subject' : 'Update Subject'" th:text="${text}" >
			Add Subject
		</button>
	</form>

</body>

</html>