<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'student')}">

<body>

  <h2>
    <th:block th:if="${lecture['new']}">New </th:block> Lecture
  </h2>

  <b>Subject</b>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Type</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tr>
      <td th:text="${subject.name}"></td>
      <td
        th:text="${#temporals.format(subject.subjectDate, 'yyyy-MM-dd')}"></td>
      <td th:text="${subject.subjectType}"></td>
      <td
        th:text="${subject.student?.firstName + ' ' + subject.student?.lastName}"></td>
    </tr>
  </table>

  <form th:object="${lecture}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}"  />
      <input
        th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" name="subjectId" th:value="${subject.id}" />
        <button class="btn btn-default" type="submit">Add Lecture</button>
      </div>
    </div>
  </form>

  <br />
  <b>Previous Lectures</b>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Description</th>
    </tr>
    <tr th:if="${!lecture['new']}" th:each="lecture : ${subject.lectures}">
      <td th:text="${#temporals.format(lecture.date, 'yyyy-MM-dd')}"></td>
      <td th:text=" ${lecture.description}"></td>
    </tr>
  </table>

</body>
</html>
