<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'teacher')}">

<body>

  	<h2>Teachers</h2>

	<table id="teachers" class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Specialties</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="teacher : ${teachers.teacherList}">
				<td th:text="${teacher.firstName + ' ' + teacher.lastName}"></td>
				<td>
					<span th:each="specialty : ${teacher.specialties}" 
						th:text="${specialty.name + ' '}">
						Specialty
					</span>
					<span th:if="${teacher.nrOfSpecialties == 0}">
						noOfSpecialites
					</span>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>
